<a href="https://colab.research.google.com/github/Akesh-28/Akesh-28/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("student-data.csv")

df.loc[0]

school             GP
sex                 F
age                18
address             U
famsize           GT3
Pstatus             A
Medu                4
Fedu                4
Mjob          at_home
Fjob          teacher
reason         course
guardian       mother
traveltime          2
studytime           2
failures            0
schoolsup         yes
famsup             no
paid               no
activities         no
nursery           yes
higher            yes
internet           no
romantic           no
famrel              4
freetime            3
goout               4
Dalc                1
Walc                1
health              3
absences            6
passed             no
Name: 0, dtype: object

In [ ]:
filt=(df["sex"]=='M')&(df['romantic']=='yes')
df.loc[~filt,'age']
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [ ]:
df["sex"] = df["sex"].str.strip().replace({
      "M": "Male",
          "F": "Female"
          })

In [ ]:
df.sort_values(by=['age','Medu'],ascending=[True,False])

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
3,GP,Female,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
10,GP,Female,15,U,GT3,T,4,4,teacher,health,...,yes,no,3,3,3,1,2,2,0,no
12,GP,Male,15,U,LE3,T,4,4,health,services,...,yes,no,4,3,3,1,3,5,2,yes
13,GP,Male,15,U,GT3,T,4,3,teacher,other,...,yes,no,5,4,3,1,2,3,2,yes
20,GP,Male,15,U,GT3,T,4,3,teacher,other,...,yes,no,4,4,1,1,1,1,0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,MS,Female,20,U,GT3,T,4,2,health,other,...,yes,yes,5,4,3,1,1,3,4,yes
306,GP,Male,20,U,GT3,A,3,2,services,other,...,no,no,5,5,3,1,1,5,0,yes
390,MS,Male,20,U,LE3,A,2,2,services,services,...,no,no,5,5,4,4,5,4,11,no
392,MS,Male,21,R,GT3,T,1,1,other,other,...,no,no,5,5,3,3,3,3,3,no
247,GP,Male,22,U,GT3,T,3,1,services,services,...,yes,yes,5,4,5,5,5,1,16,no

In [ ]:
df.apply(pd.Series.min)

school             GP
sex            Female
age                15
address             R
famsize           GT3
Pstatus             A
Medu                0
Fedu                0
Mjob          at_home
Fjob          at_home
reason         course
guardian       father
traveltime          1
studytime           1
failures            0
schoolsup          no
famsup             no
paid               no
activities         no
nursery            no
higher             no
internet           no
romantic           no
famrel              1
freetime            1
goout               1
Dalc                1
Walc                1
health              1
absences            0
passed             no
dtype: object

In [ ]:
fjgrp=df.groupby(('Fjob'))
fjgrp['absences'].agg(['median','mean']).loc['teacher']

median    4.0
mean      5.0
Name: teacher, dtype: float64

In [ ]:
fjgrp=df.groupby(('Fjob'))
fjgrp.get_group('teacher')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,Female,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
7,GP,Female,17,U,GT3,A,4,4,other,teacher,...,no,no,4,1,4,1,1,1,6,no
29,GP,Male,16,U,GT3,T,4,4,teacher,teacher,...,yes,yes,4,4,5,5,5,5,16,yes
37,GP,Male,16,R,GT3,A,4,4,other,teacher,...,yes,yes,2,4,3,1,1,5,7,yes
42,GP,Male,15,U,GT3,T,4,4,services,teacher,...,yes,no,4,3,3,1,1,5,2,yes
49,GP,Female,15,U,GT3,T,4,4,services,teacher,...,yes,no,4,4,4,1,1,3,2,no
60,GP,Female,16,R,GT3,T,4,4,health,teacher,...,no,no,2,4,4,2,3,4,6,yes
101,GP,Male,16,U,GT3,T,4,4,services,teacher,...,yes,yes,4,4,3,1,1,4,0,yes
110,GP,Male,15,U,LE3,A,4,4,teacher,teacher,...,yes,no,5,5,3,1,1,4,6,yes
115,GP,Male,16,U,GT3,T,4,4,teacher,teacher,...,yes,no,5,4,4,1,2,5,2,yes
116,GP,Male,15,U,GT3,T,4,4,other,teacher,...,no,no,4,4,3,1,1,2,2,yes
129,GP,Male,16,R,GT3,T,4,4,teacher,teacher,...,yes,no,3,5,5,2,5,4,8,yes
130,GP,Female,15,R,GT3,T,3,4,services,teacher,...,yes,yes,4,2,2,2,2,5,0,no
134,GP,Male,15,R,GT3,T,3,4,at_home,teacher,...,no,yes,5,3,3,1,1,5,0,no
139,GP,Female,15,U,GT3,T,4,4,teacher,teacher,...,yes,no,4,3,2,1,1,5,0,yes
148,GP,Male,16,U,GT3,T,4,4,teacher,teacher,...,yes,yes,3,3,2,2,1,5,0,no
154,GP,Female,17,U,GT3,T,4,4,other,teacher,...,no,yes,4,2,1,1,1,4,0,yes
196,GP,Male,17,U,GT3,T,4,4,services,teacher,...,yes,no,5,2,3,1,2,5,4,yes
198,GP,Female,17,U,GT3,T,4,4,services,teacher,...,yes,no,4,2,4,2,3,2,24,yes
199,GP,Female,16,U,LE3,T,4,4,teacher,teacher,...,yes,no,4,5,2,1,2,3,0,yes
222,GP,Female,16,U,GT3,T,2,3,services,teacher,...,yes,no,2,3,1,1,1,3,2,yes
232,GP,Male,17,U,GT3,T,4,4,teacher,teacher,...,yes,yes,4,5,5,1,3,2,14,no
287,GP,Female,17,U,GT3,T,1,1,services,teacher,...,yes,no,4,3,3,1,1,3,6,yes
289,GP,Male,18,U,LE3,A,4,4,teacher,teacher,...,yes,no,5,4,3,1,1,2,9,yes
299,GP,Male,18,U,LE3,T,4,4,teacher,teacher,...,yes,yes,1,4,2,2,2,1,5,yes
301,GP,Male,17,U,LE3,T,4,4,other,teacher,...,yes,no,4,1,1,2,2,5,0,yes
329,GP,Female,17,U,GT3,T,4,4,teacher,teacher,...,yes,yes,4,3,3,1,2,4,4,yes
369,MS,Female,18,R,GT3,T,4,4,other,teacher,...,yes,yes,3,2,2,4,2,5,10,yes
380,MS,Male,18,U,GT3,T,4,4,teacher,teacher,...,yes,no,3,2,4,1,4,2,4,yes

In [32]:
ts=fjgrp['Fjob'].value_counts()
ts

Fjob
at_home      20
health       18
other       217
services    111
teacher      29
Name: count, dtype: int64

In [29]:
f=df['Fjob']=='teacher'
df.loc[f]['passed'].str.contains('yes').sum()

np.int64(22)

In [27]:
psfj=fjgrp['passed'].apply(lambda x:x.str.contains('yes').sum())
psfj

Fjob
at_home      12
health       12
other       148
services     71
teacher      22
Name: passed, dtype: int64

In [36]:
dff=pd.concat([ts,psfj],axis='columns',sort=False)
dff['percentage']=(dff['passed']/dff['count'])*100
dff

          count  passed  percentage
Fjob
at_home      20      12   60.000000
health       18      12   66.666667
other       217     148   68.202765
services    111      71   63.963964
teacher      29      22   75.862069